@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  background-color: #000000;
  color: white;
}
.dashboard-card-bg {
  background-color: #1d212d;
}
.dashboard-container {
  display: grid;
  grid-template-columns: 10% auto 25%;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}

.nav-item {
  color: #e9e9e9;
  font-size: 20px;
  font-weight: 600;
}

.btn {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.main-headline {
  font-size: 40px;
  font-weight: 700;
  color: #e9e9e9;
}
.category-headline {
  font-size: 30px;
  font-weight: 700;
  color: #e9e9e9;
}

.sub-headline {
  font-size: 18px;
  font-weight: 500;
  color: #e9e9e9;
}
.body-text {
  font-size: 16px;
  font-weight: 500;
  color: #e9e9e9;
}

/* background Image */
.banner-footer {
  /* background-image: url("../public/images/bannerImg.jpg"); */
  background-image: url("../assets/footer-bg.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100vw; */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
